mixin stock-block(content, params)
  .stock-block&attributes(attributes)
    .stock-block__bg
     .stock-block__bg-item.stock-block__bg-item_left
     .stock-block__bg-item.stock-block__bg-item_right
    .stock-block__content
      .stock-block__text!=content.text
      .stock-block__title!=content.title
      .stock-block__image
      +button(content.button).stock-block__button
