.analytics.analytics__pixel
  if(!php)
    .
      <script>
        (function(){
        var params = window.location.search.substr(1);
        // console.log('param',params,params.indexOf("utm_source="));
        if( params.indexOf("utm_source=") != -1){
          var img = new Image();
          img.src = "https://stoloto.solution.weborama.fr/fcgi-bin/dispatch.fcgi?a.A=co&a.si=6464&a.cp=65&a.ct=d&a.opt=%22N2%22:%22"+params+"%22"
          document.getElementsByClassName('analytics__pixel')[0].appendChild(img);
        }
        })();
      </script>
  if(php)
    .
      <?php if( isset($_GET['utm_source']) ): ?>
      <img src="https://stoloto.solution.weborama.fr/fcgi-bin/dispatch.fcgi?a.A=co&a.si=6464&a.cp=65&a.ct=d&a.opt=%22N2%22:%22<?=urlencode($_SERVER['QUERY_STRING'])?>%22">
      <?php endif; ?>

  img(src="https://stoloto.solution.weborama.fr/fcgi-bin/dispatch.fcgi?a.A=co&a.si=6464&a.cp=64&a.ct=d")
