mixin statistics(content, params)
  .statistics&attributes(content.attr)&attributes(attributes)
    .statistics__content
      h2.statistics__title!=content.title
      +statistics__map
      .statistics__list
        +pug-list(content.list, "statistics__item")
      .statistics__subtitle!=content.subtitle
      +button(content.button).statistics__button


mixin statistics__map(content, params)
  .statistics__map&attributes(attributes)
    .statistics__map-salute
      img(data-delayed-attr="src|images/statistics/salute-1.svg" data-delayed-attr-delay="500|5000" style="visibility:hidden")
    .statistics__map-salute
      img(data-delayed-attr="src|images/statistics/salute-2.svg" data-delayed-attr-delay="500|5000" style="visibility:hidden")
    picture(data-delayed-attr="src|images/1px.png;;images/statistics/map.png;(min-width: 1024px);images/statistics/map.webp;(min-width: 1024px);images/statistics/map-m.png 1x, images/statistics/map-m@2x.png 2x;(max-width: 1023px);images/statistics/map-m.webp 1x, images/statistics/map-m@2x.webp 2x;(max-width: 1023px)" data-delayed-attr-delay="500|5000" style="visibility:hidden")

mixin statistics__item(content, params)
  .statistics__item&attributes(attributes)
    .statistics__item-index!=content.index
    .statistics__item-text!=content.text
