.intro {
  // Константы
  @mixin mod($mod) {
    @include modifier("intro", $mod){
      @content;
    }
  }
  @mixin prize($mod) {
    @include modifier("intro__prize", $mod){
      @content;
    }
  }

  @mixin sprite($mod) {
    @include modifier("intro__sprite-item", $mod){
      @content;
    }
  }
  font-family: $BASE-FONT;
  position: relative;
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
  background: #4C0B24;


  &__bg{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    height: 100%;
    @include option(width, $DESIGN-W, $DESIGN-W-M);
    width: 100vw;
    overflow: hidden;
  }

  &__bg-item{
    position: absolute;
    img{
      pointer-events: none;
      position: relative;
      display: block;
      width: 100%;
    }
    &_1{
      @include option(top, 405.13px, 464);
      @include option(right, -60px, auto);
      @include option(left, auto, -55);
      @include option(width, 180px, 115.72);
    }
    &_2{
      @include option(top, 450.42px, 22);
      @include option(left, 100.71px, -2);
      @include option(width, 196px, 75.35);
    }
    &_3{
      @include option(top, 62px, 0);
      @include option(left, 113px, 0);
      @include option(width, 90px, 0);
    }
    &_4{
      @include option(top, 485, 539);
      @include option(right, 1380.6 - 1479, 0);
      @include option(width, 318px, 162.9);
    }
    &_5{
      @include option(top, -51.69px, -9);
      @include option(right, 1450 - 1474.5, -5);
      @include option(width, 306px, 132.44);
    }
    &_6{
      @include option(top, 132.29px, 88);
      @include option(right, 1429 - 1341.57, -12);
      @include option(width, 75px, 54);
    }
    &_7{
      @include option(top, 120px, 217);
      @include option(right, 1409 - 1453.41, -10);
      @include option(width, 71.48px, 60.39);
    }
  }

  &__bg-fade{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    width: 100vw;
    &_top{
      @include option(top, 0, 0);
      @include option(height, 505, 383);
      background: radial-gradient(76.79% 80.89% at 50.2% 0%, #EB030A 0%, #E5030A 13.57%, #D3040C 32.39%, #B5040E 54.28%, #670E2A 89.58%, rgba(#4C0B24,0) 100%);
    }
    &_bottom{
      bottom: 0;
      @include option(height, 206);
      background: radial-gradient(76.8% 90.2% at 49.8% 100.01%, #A80613 0%, #A30715 28.65%, #90091C 56.77%, #5C0D28 81.77%, rgba(#470B28,0) 100%);
    }
  }

  &__bg-grad_bottom {
    @include option(bottom, 0);
    width: 100%;
    @include option(height, 50);
    background: linear-gradient(180deg, #470b2800 0%, rgba(151, 9, 26, 1) 100%);
  }


  &__man{
    position: absolute;
    @include option(right, -179, -168);
    @include option(bottom, 124, 132);
    @include option(width, 693, 512);
    img{
      position: relative;
      display: block;
      width: 100%;
      pointer-events: none;
    }



    &-span{
      position: absolute;
      @include option(bottom, 14, 19);
      @include option(left,-25, 71);
      @include option(font-size, 13);
      line-height: 1.155;
      z-index: 1;
      text-align: left;
      color: $WHITE;
      br{
        display: none;
      }
      @include MOBILE{
        display:none;
      }
    }
  }

  &__man-shadow{
    pointer-events: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0.7;

    &_1{
      @include option(top, -234, -222);
      @include option(margin-left, auto, 36);
      @include option(width, 867px, 787);
      @include option(height, 535px, 486);
      background: radial-gradient(48.38% 37.94% at 51.67% 55.51%, #FF9B71 0%, rgba(244, 60, 19, 0) 100%);
    }
    &_2{
      @include option(top, -167, -161);
      @include option(width, 590px, 535);
      @include option(height, 449px, 409);
      background: radial-gradient(50% 50% at 50% 50%, #FE844F 0%, rgba(196, 5, 14, 0) 100%);
      @include MOBILE{
        left: 0;
        transform: none;
      }
    }
    &_3{
      @include option(bottom, -13, -35);
      @include option(width, 721px, 664);
      @include option(height, 120px, 152);
      @include option(margin-right, auto, 89);
      background: radial-gradient(50% 50% at 50% 50%, #FF9B71 0%, rgba(255, 85, 48, 0) 100%);
    }
  }

  &__content{
    @include wrapper;
    position: relative;
    @include option(padding, 18 0 100, 9 0 17);
    box-sizing: border-box;
    z-index: 1;

    @include MOBILE{
      text-align: center;
    }
  }

  &__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include option(margin, 0 0 39, 0 auto 31);
    @include MOBILE{
      align-items: center;
      justify-content: center;
    }
  }

  &__logo{
    display: block;
    @include option(width, 95, 80.6);
    img{
      display: block;
      width: 100%;
      pointer-events: none;
    }
  }

  &__info{
    position: relative;
    width: auto;
    margin: auto;
    @include MOBILE{
      width: 100%;
      text-align: left;
    }
  }

  &__title{
    display: inline-block;
    position: relative;
    color: $YELLOW;
    @extend %H1;
    font-weight: bold;
    @include option(margin, 0 0 43, 0 0 18.5);
    letter-spacing: 0.005em;

    text-shadow: 3px 6px 0 rgba(0, 0, 0, 0.25);
    @include MOBILE{
      white-space: nowrap;
      letter-spacing: 0.01em;
      text-shadow: 0 4px 0 rgba(0, 0, 0, 0.25);
    }

    span{
      display: block;
      @include option(font-size, 38, 28);
      line-height: 0.95;
      letter-spacing: 0.05em;
      font-weight: bold;
      color: $YELLOW;
      text-shadow: none;
      text-transform: none;
      @include MOBILE{
        line-height: 1.1;
      }
    }
  }

  &__text{
    @include option(font-size, 21, 19);
    line-height: 1.3;
    font-weight: normal;
    color: $WHITE;
  }

  &__button{
    @include option(margin, 51 0 0, 253 auto 0);
  }
}
