mixin intro(content, params)
  .intro&attributes(content.attr)&attributes(attributes)
    .intro__bg
      .intro__bg-fade.intro__bg-fade_top
      .intro__bg-fade.intro__bg-fade_bottom
      .intro__bg-fade.intro__bg-grad_bottom
      +pug-list(content.parallax, "intro__bg-item")
    .intro__content
      +intro__man
      .intro__header
        +intro__logo(content.logo)
        +custom-menu(copyright.menu)
      .intro__info
        if content.subtitle
          .intro__subtitle!=content.subtitle
        if content.title
          .intro__title!=content.title
        if content.text
          .intro__text!=content.text
        +button(content.button).intro__button


mixin intro__logo(content, params)
  a.intro__logo&attributes(content.attr)&attributes(attributes)
    img(data-delayed-attr="src|"+content.src alt=content.alt data-delayed-attr-delay="350|3500" style="visibility:hidden")


mixin intro__man(content,params)
  .intro__man&attributes(attributes)
    .intro__man-shadow.intro__man-shadow_1
    .intro__man-shadow.intro__man-shadow_2
    .intro__man-shadow.intro__man-shadow_3
    picture(data-delayed-attr="src|images/intro/man.png;;images/intro/man.png;(min-width: 1024px);images/intro/man.webp;(min-width: 1024px);images/intro/man-m.png 1x, images/intro/man-m@2x.png 2x;(max-width: 1023px);images/intro/man-m.webp 1x, images/intro/man-m@2x.webp 2x;(max-width: 1023px)" data-delayed-attr-delay="350|3500" style="visibility:hidden")

mixin intro__mark(content,params)
  .intro__mark&attributes(attributes)
    .intro__mark-title 10 призов по 1 000 000 ₽
    .intro__mark-subtitle и много других денежных призов


mixin intro__bg-item(content, params)
  .intro__bg-item&attributes(content.attr)&attributes(attributes)
    if content.src
      picture(data-delayed-attr="src|"+content.src+".png;;"+content.src+".png;(min-width: 1024px);"+content.src+".webp;(min-width: 1024px);"+content.srcM+".png;(max-width: 1023px)"+content.srcM+".webp;(max-width: 1023px)" data-delayed-attr-delay="350|3500" style="visibility:hidden")


mixin intro__video(content,params)
  .intro__video
    video&attributes(content.attr)&attributes(attributes)
