mixin footer(content, params)
  .footer&attributes(content.attr)&attributes(attributes)
    .footer__wrap
      +footer__logo(content.logo)

      +social-block(content.socialButton).footer__social-block
      +footer__link(content.link)
      .footer__text
        !=content.text

mixin footer__link(content, params)
  a.footer__link&attributes(content.attr)&attributes(attributes)
    .footer__link-images
      .footer__link-icon(data-analytics=content.gaIos)
        img(data-delayed-attr='src| images/footer/ios.svg' data-delayed-attr-delay="1250|12500" alt="ios" style="visibility:hidden")
      .footer__link-icon(data-analytics=content.gaAndroid)
        img(data-delayed-attr='src| images/footer/android.svg' data-delayed-attr-delay="1250|12500" alt="android" style="visibility:hidden")
    .footer__link-text(data-analytics=content.ga) Приложения

mixin footer__logo(content, params)
  a.footer__logo&attributes(content.attr)&attributes(attributes)
    img(data-delayed-attr='src|images/footer/logo-footer.svg' data-delayed-attr-delay="1250|12500" alt="столото" style="visibility:hidden")

mixin footer__link-block(content, params)
  a.footer__link-block&attributes(content.attr)&attributes(attributes)
    .footer__link-block-icon(data-analytics=content.gaIos)
      img(data-delayed-attr='src|images/footer/all.svg' data-delayed-attr-delay="1250|12500" alt="ios" style="visibility:hidden")
