.instruction-block {
  // Константы
  $t: 0.7s;
  @mixin mod($mod) {
    @include modifier("instruction-block", $mod){
      @content;
    }
  }

  @mixin item-mod($mod) {
    @include modifier("instruction-block__item", $mod){
      @content;
    }
  }
  position: relative;
  box-sizing: border-box;
  background: $WHITE;
  @include option(padding, 43 0 42, 35 0 82);
  overflow: hidden;

  &__content{
    @include wrapper;
  }

  &__title{
    @extend %H2;
    margin: 0;
    text-align: center;
  }


  &__list{
    position: relative;
    list-style: none;
    @include option(width, $WRAPPER-D, auto);
    @include option(margin, 80 auto 0, 50 auto 72 );
    box-sizing: border-box;
    max-width: 100%;
    padding: 0;
    @include MOBILE{
      display: block;
    }
  }

  &__item{
    position: relative;
    @include option(width, 520, auto);
    @include option(margin, 0 auto);
    &_1{
      @include option(padding,0 0 125, 0 0 110);
    }
    &_2{
      @include option(padding,0 0 150, 0 0 102);
    }
    &_3{
      @include option(padding,0 0 130, 0 0 78);
    }
    &_4{
      @include option(padding,0);
    }

    &:nth-of-type(2n){
      text-align: right;

      .instruction-block__item-text{
        @include option(margin-right, -55, auto);
        @include MOBILE {
          order: -1;
          text-align: right;
        }
      }
      .instruction-block__item-icon{
        right: auto;
        left: 0;
        @include MOBILE{
          right: 0;
          left: 0;
          margin: auto;
        }
      }
    }


    @include MOBILE{
      display: flex;
      flex-wrap: wrap;
      &:nth-of-type(2n){
        justify-content: flex-end;
      }
    }
  }


  &__item-index{
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #E18633;
    color: #E18633;
    border-radius: 50%;
    box-sizing: border-box;
    @include option(width, 71, 56);
    @include option(height, 71, 56);
    @include option(font-size, 32, 20);
    font-weight: 100;
    opacity: 0;

    @include item-mod(show){
      animation: fade-in-index $t 0s cubic-bezier(0.68, -0.6, 0.32, 1.6) both;
    }

  }

  &__item-icon{
    right: 0;
    position: absolute;
    @include option(top, -36, auto);
    @include option(width, 200);
    @include option(height, 200);


    img{
      height: 100%;
      //width: 100%;
      display: block;
      pointer-events: none;
    }
    @include MOBILE{
      position: relative;
      margin: auto;
      left: 0;
      right: 0;
    }
  }


  &__item-text{
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    @include option(width, 210, 250);
    @include option(margin, 25 0 0 25, 20 17 0);
    @include option(font-size, 16, 20);
    line-height: 1.35;
    span{
      display: block;
      @include option(font-size, 21, 20);
      line-height: 1.35;
    }

    a{
      text-decoration: none;
    }

    opacity: 0;

    @include item-mod(show){
      animation: fade-in-text $t .3s cubic-bezier(0.68, -0.6, 0.32, 1.6) both;
      @include MOBILE{
        animation-name: fade-in;
      }
    }
  }

  &__item-line{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    text-align: left;
    @include option(width, 338, 343);
    @include option(padding, 80 30 0, 54 10 0);
    box-sizing: border-box;
    @include item-mod(1){
      @include option(padding, 80 30 0 30, 54 30 0 10);
    }
    @include item-mod(2){
      @include option(padding, 80 30 0 30, 54 10 0 30);
    }
    @include item-mod(3){
      @include option(padding, 80 30 0, 54 40 0 0);
    }

    &:after{
      position: absolute;
      content:"";
      clear: both;
      display: block;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      transform-origin: 50% 100%;
      background: $WHITE;
    }

    @include item-mod(show){
      &:after{
        animation: dash $t .8s linear both;
      }
    }

    &-svg{
      &_m{
        display: none;
      }
      &_d{
        width: 100%;
      }
      @include MOBILE{
        &_d{
          display: none;
        }
        &_m{
          display: block;
        }
      }
    }
  }

  &__button{
    @include option(margin, 90 auto 0, 30px auto 0);
    z-index: 1;
    @include MOBILE{
      position: relative;
    }
  }
}
