//- GUI
include gui/gui

//- Элементы

//- Блоки


include custom-menu/custom-menu
include intro/intro
include lotomania/lotomania
include info-block/info-block
include statistics/statistics
include instruction/instruction
include information/information
include winners/winners
include feedback/feedback
include footer/footer


//- Страницы
//include pages/pages
