.feedback {
  // Константы
  @mixin mod($mod) {
    @include modifier("feedback", $mod){
      @content;
    }
  }

  $c:0.65;
  position: relative;
  background:#A6352F;

  &__bg{
    @include wrapper();
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
  }

  &__man{
    position: absolute;
    @include option(bottom, -7, -2);
    @include option(right, -82, auto);
    @include option(width, 525.19, 375);
    @include option(height, 693.49, 348);
    img{
      position: relative;
      pointer-events: none;
      display: block;
      height: 100%;
    }
    @include MOBILE{
      left: 50%;
      transform: translate(-50%,0);
    }
  }

  &__man-img{
    position: absolute;
    img{
      width: 100%;
      display: block;
      pointer-events: none;
      position: relative;
    }
    &_4{
      @include item($w:210.67, $b:0, $r:-7, $wm:84.49, $rm:50, $bm:-50);
      z-index: 1!important;
    }
    &_3{
      @include item($w:60, $b:150, $l:42, $wm:0);
    }
    &_2{
      @include item($w:44.44, $t:58, $r:67, $wm:28.95,$tm:21, $rm:50);
    }
    &_1{
      @include item($w:39.44, $t:140, $l:90, $wm:36,$tm:45);
    }
  }


  &__bg-fade{
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    width: 100vw;
    height: 100%;

    &_1{
      background: radial-gradient(59.86% 72.27% at 50% 0%, #E88B71 0%, rgba(234, 140, 113, 0) 100%);
      @include MOBILE{
        top: auto;
        bottom: 0;
        height: 70%;
        background: radial-gradient(62.91% 75.94% at 49.72% 99.57%, #E88B71 0%, rgba(234, 140, 113, 0) 100%);
      }
    }
    &_2{
      background: radial-gradient(28.36% 53.82% at 67.79% 57.63%, #FCA676 16.67%, rgba(235, 137, 109, 0) 100%);
      @include MOBILE{
        background: radial-gradient(43.32% 21.07% at 50% 78.93%, #FCA676 16.67%, rgba(235, 137, 109, 0) 100%);
      }
    }
  }

  &__bg-light{
    position: absolute;
    @include option(top, 0, auto);
    @include option(right, -180);
    @include option(width, 877);
    height: 100%;

    img{
      position: relative;
      width: 100%;
      display: block;
      pointer-events: none;
    }
    @include MOBILE{
      display: none;
    }
  }

  &__bg-item{
    position: absolute;
    margin: auto;
    @include option(max-width, 150, 150*$c);
    opacity: 0;

    img{
      width: 100%;
      position: relative;
      display: block;
    }

    &_1{
      @include option(top, 345, 345*$c);
      @include option(right, 110, 110*$c);
    }
    &_2{
      @include option(top, 270, 270*$c);
      @include option(right, -10, -10*$c);
    }
    &_3{
      @include option(top, 292, 292*$c);
      @include option(right, 7, 7*$c);
    }
    &_4{
      @include option(top, 45, 45*$c);
      @include option(left, 160, 160*$c);
    }
    &_5{
      @include option(top, 50, 50*$c);
      @include option(left, 80, 80*$c);
    }
    &_6{
      @include option(top, 123, 123*$c);
      @include option(left, 121, 121*$c);
    }

    &_7{
      @include option(bottom, 187, 187*$c);
      @include option(left, 115, 115*$c);
    }

    &_8{
      @include option(bottom, 164, 164*$c);
      @include option(left, 26, 26*$c);
    }
    &_9{
      @include option(bottom, 248, 248*$c);
      @include option(left, 26, 26*$c);
    }
    &_10{
      @include option(bottom, 303, 303*$c);
      @include option(left, 53, 53*$c);
    }
    &_11{
      @include option(bottom, 359, 359*$c);
      @include option(left, 43, 43*$c);
    }
    &_12{
      @include option(bottom, 339, 339*$c);
      @include option(left, 60, 60*$c);
    }
    &_13{
      @include option(top, 118, 118*$c);
      @include option(right, 93, 93*$c);
    }
    &_14{
      @include option(bottom, 243, 243*$c);
      @include option(left, -7, -7*$c);
    }
    &_15{
      @include option(top, 58, 58*$c);
      @include option(right, 150, 150*$c);
    }
    &_16{
      @include option(bottom, 273, 273*$c);
      @include option(left, 130, 130*$c);
    }
    &_18{
      @include option(bottom, 330, 330*$c);
      @include option(left, 15, 15*$c);
    }
    &_show{
      animation: salut 2s ease-in-out infinite;
    }
  }

  &__content{
    position: relative;
    @include wrapper($wm:$DESIGN-W-M);
    @include option(padding, 54 0 44);
  }

  &__title{
    @include option(font-size, 33);
    line-height: 1.22;
    color: $WHITE;
    @include option(width, 349, auto);
    @include option(padding, 0, 0 25);
    box-sizing:border-box;
  }

  &__list{
    position: relative;
    @include option(width, 330, auto);
    @include option(height, 443, auto);
    @include option(margin, 0 0 33, 31 0 250);
    overflow: hidden;

    .carousel{
      height: 100%;
    }
  }

  &__carousel{
    mask: linear-gradient(180deg, rgba($WHITE, 0), rgba($WHITE, 1) 10%, rgba($WHITE, 1) 80%, rgba($WHITE,0));
    -webkit-mask: linear-gradient(180deg, rgba($WHITE, 0), rgba($WHITE, 1) 10%, rgba($WHITE, 1) 80%, rgba($WHITE,0));
    padding: 10% 0 20%;
    box-sizing: border-box;
    &_mobile{
      display: none;
    }
    @include MOBILE{
      padding: 0;
      mask: linear-gradient(90deg, rgba($WHITE, 0), rgba($WHITE, 1) 20%, rgba($WHITE, 1) 80%, rgba($WHITE,0));
      -webkit-mask: linear-gradient(90deg, rgba($WHITE, 0), rgba($WHITE, 1) 20%, rgba($WHITE, 1) 80%, rgba($WHITE,0));
      &_desktop{
        display: none;
      }
      &_mobile{
        display: block;
      }
    }
  }

  &__list-btn{
    position: absolute;
    @include option(width, 50, 30);
    @include option(height, 50, 30);
    margin: auto;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
    transition: opacity .3s ease-in-out;
    background: no-repeat center / contain;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);

    &_next{
      @include option(left, 0, auto);
      @include option(right, 4, 15);
      @include option(top, auto, 0);
      @include option(bottom, 2, 0);
      background-image: image("feedback/down.svg");
      @include MOBILE{
        background-image: image("feedback/down-m.svg");
      }
    }
    &_prev{
      @include option(left, 0, 15);
      @include option(right, 4, auto);
      @include option(top, 12, 0);
      @include option(bottom, auto, 0);
      background-image: image("feedback/up.svg");

      @include MOBILE{
        background-image: image("feedback/up-m.svg");
      }
    }

    &.swiper-button-disabled{
      opacity: 0;
    }
  }

  &__item{
    display: inline-block;
    @include option(width, auto, 155);
    height: auto;
    @include option(margin, 0 0 11, 0 5);
    @include option(padding, 22 15 9 15, 33 7 17);
    background: rgba($WHITE,0.1);
    border-radius: 3px;
    box-sizing: border-box;
    @include option(font-size, 12);
    line-height: 1.45;
    letter-spacing: 0.01em;
    color: $WHITE;
    @include MOBILE{
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
    }
  }

  &__item-text{
    @include option(font-size, 16, 18);
    line-height: 1.3;
    font-style: italic;
    @include MOBILE{
      margin-bottom: auto;
    }
  }

  &__item-title{
    @include option(margin, 21 0 0, 24 0 0);
  }

  &__item-index{
    color: #E79797;
  }

  &__button{
    @include option(width, 280, 323);
    @include MOBILE{
      margin: 0 auto;
    }
  }
}
