.intro {
  // Константы
  $man-w: 913px;
  @mixin mod($mod) {
    @include modifier("intro", $mod){
      @content;
    }
  }
  position: relative;
  display: block;
  //background: linear-gradient(269.67deg, #890000 0%, rgba(191, 13, 4, 0) 35%, rgba(191, 13, 4, 0) 60%, #890000 100%), image("intro/bg.jpg") no-repeat center / cover;
  box-sizing: border-box;
  $h-l: 904px;
  $p-p: 16px 0 0;

  @include DESKTOP{
    height: vh($h-l);
    max-height: 98%;
  }
  @include TABLET-L{
    height: vw($h-l);
  }
  @include MOBILE{
    padding: vw-m($p-p);
  }
  @include TABLET{
    padding: vw-t($p-p);
  }

  &__logos{
    display: inline-block;
  }

  &__logo{
    top: 0;
    display: block;
    cursor: pointer;
    $t-l: 30px;
    $l-l: 0;
    $w-l: 143px;
    $h-l: 151px;
    $w-p: 59.12px;

    @include DESKTOP{
      display: inline-block;
      height: vh($h-l);
    }

    @include TABLET-L{
      display: inline-block;
      height: vw($h-l);
    }

    @include TABLET{
      width: vw-t($w-p);
    }

    @include MOBILE{
      position: relative;
      width: vw-m($w-p);
      margin: 0;
    }

    img{
      //width: 100%;
      height: 100%;
      pointer-events: none;
      @include MOBILE{
        width: 100%;
        height: auto;
      }
    }
  }

  &__bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    @include DESKTOP{
      margin: auto;
      right: 0;
      height: 111%;
    }
    @include TABLET-L{
      height: 112%;
    }
    @include MOBILE{
      height: 105%;
    }
  }

  &__bg-item{
    pointer-events: none;
    position: absolute;
    background: no-repeat center / contain;

    &_elka{
      @include item($w: 1461.78, $h:210.4, $t:26.3);
      left: 50%!important;
      transform: translate(-50%,0);
      @include MOBILE{
        display: block;
        width: 100%;
      }
    }

    &_1{
      @include item($w:97, $h:71, $b:260, $l:-10);
    }
    &_2{
      @include item($w:95, $h:66, $t:350, $l:-10);
    }
    &_3{
      @include item($w:140, $h:138, $b:189, $r:-40);
    }
    &_4{
      @include item($w:140, $h:138, $b:120, $l:100);
    }
    &_5{
      @include item($w:140, $h:138, $t:0, $r:20);
      z-index: 1;
    }
    &_6{
      @include item($w:163, $h:216, $t:0, $l:250);
      //z-index: 1;
    }
    &_7{
      @include item($w:71, $h:93, $t:186, $r:-50);
      z-index: 1;
    }
    &_8{
      @include item($w:36, $h:35, $t:371, $r:50);
    }
    &_9{
      @include item($w:64, $h:31, $t:294, $l:0, $r:0);
      margin: auto;
    }
    &_10{
      @include item($w:60, $h:23, $t:437, $l:0, $r:140);
      margin: auto;
    }
    &_11{
      @include item($w:714, $h:554, $b:194, $l:0);
    }
    &_12{
      @include item($w:714, $h:554, $b:-150, $l:-150);
    }
    &_13{
      @include item($w:63, $h:65, $t:14, $l:-40);
    }
    &_14{
      @include item($w:53, $h:55, $t:271, $r:562);
    }
    &_15{
      @include item($w:30, $h:31, $t:233, $r:52);
    }
    &_16{
      @include item($w:30, $h:31, $t:291, $r:251);
    }

    img{
      pointer-events: none;
      width: 100%;
    }
  }

  &__head{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    $w-l: 1400px;
    margin: 0 auto;
    @include DESKTOP{
      width: vh($w-l);
    }
    @include TABLET-L{
      width: vw($w-l);
    }
    @include MOBILE{
      width: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  &__content{
    position: relative;
    color: $WHITE;
    $w-l: 1400px;
    $pt-l: 10px;
    $m-p: 0 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    @include DESKTOP{
      max-width: vh($w-l);
      margin: auto;
      padding: vh($pt-l 0 0px);
      box-sizing: border-box;
      overflow: hidden;
    }
    @include TABLET-L{
      max-width: vw($w-l);
      margin: auto;
      padding: vw($pt-l 0 0 );
      box-sizing: border-box;
      overflow: hidden;
    }
    @include MOBILE{
      flex-direction: column;
      align-items: center;
      margin: vw-m($m-p);
    }
    @include TABLET{
      margin: vw-t(0 30px);
    }
  }


  &__man{
    $r-l: 60px;
    $w-l: 987px;
    $h-l: 915px;
    $r-p: -140px;
    $h-p: 320px;
    position: absolute;
    bottom: 0;
    display: block;
    box-sizing: border-box;
    z-index: $z-item;

    &_mob{
      display: none;
    }

    img{
      position: absolute;
      top: 0;
      display: block;
      width: 100%;
      height: auto;
      margin: auto 0 0 auto;
      $m-p: auto 0 0;
      pointer-events: none;
      @include DESKTOP{
        top: auto;
        bottom: 0;
        width: 100%;
      }
      @include TABLET-L{
        top: auto;
        bottom: 0;
      }
      @include MOBILE{
        position: relative;
        margin: auto auto 0;
      }
    }


    @include DESKTOP{
      //max-width: 50vw;
      right: 37.5%;
      width: vh($w-l);
      bottom: vh(45px);
      height: vh($h-l);
    }

    @include TABLET-L{
      right: 34%;
      bottom: vw(45px);
      width: vw($w-l);
      max-width: 75vw;
      height: vw($h-l);
    }
    @include TABLET{
      width: 100%;
      bottom: vw-t(55px);
      //margin: vw-t(-80px auto 0);
      z-index: 0;
    }
    @include MOBILE{
      width: 100%;
      display: none;
      z-index: 0;
      bottom: vw-m(55px);
      &_mob{
        display: block;
      }
    }
  }

  &__titles{
    @include MOBILE{
      display: inline-block;
      margin: 0 auto;
    }
  }


  &__title{
    @extend %TITLE-B-TITLE;
    $h-l: 151px;
    $m-p: 0 0 23px;
    display: inline-block;
    @include DESKTOP{
      height: vh($h-l);
      margin-left: vh(45px);
    }
    @include TABLET-L{
      height: vw($h-l);
      margin-left: vw(45px);
    }
    @include MOBILE{
      width: vw-m(291);
    }
    @include TABLET{
      width: vw-t(291);
    }
    img{
      height: 100%;
      pointer-events: none;
      display: block;
      @include MOBILE{
        width: 100%;
        height: auto;
      }
    }
  }

  &__subtitle{
    position: relative;
    @extend %TITLE-B-SUBTITLE;
    $w-l: 700px;
    $m-l: 122px 68px 65px 0;
    $m-lt: 122px 68 65px 0;
    $m-p: -30px auto 170px;
    span{
      display: block;
      font-size: 0.71em;
      margin-top: vh(25px);
      @include TABLET-L{
        margin-top: vw(25px);
      }
      @include MOBILE{
        font-size: 0.583em;
        margin-top: vw-m(6px);
        z-index: 1;
      }
      @include TABLET{
        margin-top: vw-t(6px);
      }
    }
    @include DESKTOP{
      margin: vh($m-l);
    }
    @include TABLET-L {
      margin: vw($m-lt);
    }
    @include TABLET{
      margin: vw-t($m-p);
    }
    @include MOBILE{
      text-align: center;
      margin: vw-m($m-p);
      white-space: nowrap;
      font-weight: bold;
      position: relative;
      z-index: 1;
      br{
        display: none;
      }
    }
  }

  &__body{
    @include MOBILE{
      margin: vw-m(0 auto 100px);
    }
  }


  &__button{
    position: relative;
    background-size: 100% 100%;
    background-position: 100% 50%;
    box-shadow: 8.08511px 14.5532px 40.4255px rgba(0, 0, 0, 0.3);
    border-radius: 8.08511px;
    flex: 0 0 auto;
    transition: background .3s ease-in-out;
    @include DESKTOP{
      height: vh(75px);
      font-size: vh(21px);
    }
    @include TABLET-L{
      height: vw(75px);
      font-size: vw(21px);
    }

    @include MOBILE{
      margin: auto;
      z-index: 1;
      font-size: vw-m(21px);
    }
    @include TABLET{
      font-size: vw-t(21px);
    }
  }


  &__prize{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: $Roboto;
    width: 100%;
    $h-l: 215px*1.2;
    $p-l: 48px 0 64px;
    $h-p: 86.71px*1.2;
    $p-p: 20px 0 16px;
    box-sizing: border-box;
    text-align: center;
    z-index: 1;
    letter-spacing: -0.02em;
    color: $BLACK;
    @include DESKTOP{
      height: vh($h-l);
      padding: vh($p-l);
    }
    @include TABLET-L{
      height: vw($h-l);
      padding: vw($p-l);
    }
    @include TABLET{
      height: vw-t($h-p);
      padding: vw-t($p-p);
    }
    @include MOBILE{
      height: vw-m($h-p);
      padding: vw-m($p-p);
    }
  }

  &__prize-bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: image("intro/prize-bg.svg") no-repeat center / auto 100%;
    @include MOBILE{
      background-image: image("intro/prize-bg-m.svg");
      background-size: 100% 100%;
    }
  }

  &__prize-title{
    position: relative;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
    @include DESKTOP{
      font-size: vh(45px);
      margin-bottom: vh(29px);
    }
    @include TABLET-L{
      font-size: vw(45px);
      margin-bottom: vw(29px);
    }
    @include TABLET{
      font-size: vw-t(20.63px);
      margin-bottom: vw-t(14px);
    }
    @include MOBILE{
      font-size: vw-m(20.63px);
      margin-bottom: vw-m(14px);
    }
  }
  &__prize-prize{
    position: relative;
    font-weight: 900;
    line-height: 0.5;
    @include DESKTOP{
      font-size: vh(93px);
    }
    @include TABLET-L{
      font-size: vw(93px);
    }
    @include TABLET{
      font-size: vw-t(39px);
    }
    @include MOBILE{
      font-size: vw-m(39px);
    }
  }

  &__timer{
    margin: 0 auto;
    text-align: center;
    font-family: $Roboto;
    font-weight: bold;
    @include DESKTOP{
      font-size: vh(23.46px);
      padding-right: 8.5%;
    }
    @include TABLET-L{
      font-size: vw(23.46px);
      padding-right: 8.5%;
    }
    @include TABLET{
      margin-top: vw-t(14px);
      font-size: vw-t(22px);
    }
    @include MOBILE{
      margin-top: vw-m(14px);
      font-size: vw-m(22px);
    }
    @include MOBILE{
      flex: 1 0 auto;
      width: 68%;
    }
  }

  &__timer-title{
    color: #FFFFBB;
    @include MOBILE{
      color: $WHITE;
    }
  }
  &__timer-image{
    $w-l: 181px;
    $w-p: 160px;
    margin: auto;

    @include DESKTOP{
      width: vh($w-l);
      padding-right: vh(14.72);
    }
    @include TABLET-L{
      width: vw($w-l);
      padding-right: vw(14.72);
    }
    @include TABLET{
      width: vw-t($w-p);
      margin-top: vw-m(-3px);
    }
    @include MOBILE{
      width: vw-m($w-p);
      margin-top: vw-m(-3px);
    }
    img{
      width: 100%;
    }
  }
}
