mixin instruction(content, params)
  #instruction.instruction&attributes(content.attr)&attributes(attributes)
    .instruction__content
      +instruction__video(content.video)
      .instruction__info
        h2.instruction__title!=content.title
        .instruction__list
          +pug-list(content.list, "instruction__item")
        +button(content.button).instruction__button


mixin instruction__item(content, params)
  .instruction__item&attributes(content.attr)&attributes(attributes)
    .instruction__item-index!=content.index
    .instruction__item-text.instruction__item-text_desktop!=content.text
    .instruction__item-text.instruction__item-text_mobile!=content.textM



mixin instruction__video(content,params)
  .instruction__video&attributes(attributes)
    video&attributes(content.attr)&attributes(attributes)

