.ruble {
  // Константы
  @mixin mod($mod) {
    @include modifier("ruble", $mod){
      @content;
    }
  }

  font-family: inherit;
	font-size: inherit;
	color: inherit;
	display: inline-block;

  &:after{
    content: '—';
    display: inline-block;
    transform: translate(-100%, 5%);
    font-size: 0.7em;
    text-shadow: none;
  }
}
