.information {
  // Константы
  @mixin mod($mod) {
    @include modifier("information", $mod){
      @content;
    }
  }

  overflow: hidden;
  background: #FFCD17;

  @include MOBILE{
    position: relative;
    z-index: 6;
    overflow: visible;
  }

  &__content{
    box-sizing: border-box;
    @include wrapper();
    @include option(padding, 64 0 80, 35 0 45 );
  }

  &__title{
    @extend %H2;
    @include option(width, 650, auto);
    letter-spacing: -0.01em;
    @include MOBILE{
      letter-spacing: 0.01em;
      font-weight: 500;
      line-height: 1.36;
    }
  }

  &__list{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    @include option(padding, 0, 0 0 0);
    @include option(margin, 82 10 0 0, 55 0 0 );
    @include MOBILE{
      display: block;
    }
  }

  &__item{
    display: block;
    flex: 0 1 auto;
    text-align: left;
    @include option(width, 205, auto);
    @include option(margin, 0, 0 auto 55);

    &:nth-of-type(2){
      @include option(margin, 0, 0 auto 45);
    }

    @include MOBILE{
      display: block;
      width: 100%;
      text-align: left;


      &:last-child{
        margin-bottom: 0;
      }
    }
  }


  &__item-title{
    @include option(font-size, 18, 21);
    @include option(margin-bottom, 22, 9);
    font-weight: 600;
    line-height: 1.25;
    height: 1.25 * 2em;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;

    @include MOBILE{
      height: auto;
      text-align: left;
      letter-spacing: -0.01em;
      line-height: 1.39;
    }
  }


  &__item-image{
    display: inline-block;
    vertical-align: middle;
    @include option(height, 147, 156);
    @include option(margin, 0 0 25, 0 0 17);
    img{
      pointer-events: none;
      display: block;
      height: 100%;
      margin: auto;
    }
  }


  &__item-text{
    @include option(font-size, 16, 18);
    line-height: 1.31;
    @include MOBILE{
      text-align: left;
      line-height: 1.36;
    }
  }

  &__item-sign{
    @include option(height, 37, 37);
    @include option(margin, 20px 0 0, 16 0 0 4);
    img{
      pointer-events: none;
      display: block;
      height: 100%;
    }
  }

  &__button{
    background: $GREEN;
    @include option(width, 260, auto);
    @include option(margin, 50 auto 0, 40 auto 0);
    transition: background .3s ease-in-out;
    @include HOVER{
      &:hover{
        background: #80F85D;
      }
    }
  }
}
