mixin information(content, params)
  .information&attributes(content.attr)&attributes(attributes)
    .information__content
      .information__title!=content.title
      .information__list
        +pug-list(content.list, "information__item")
      +button(content.button).information__button

mixin information__item(content, params)
  .information__item&attributes(attributes)
    .information__item-image
      img(data-delayed-attr="src|"+content.src alt=content.title data-delayed-attr-delay="1100|11000" style="visibility:hidden")
    .information__item-title!=content.title
    .information__item-text!=content.text
    if content.sign
      .information__item-sign
        picture(data-delayed-attr="src|"+content.sign+";;"+content.sign+".svg;(min-width: 1024px);"+content.sign+"-m.svg;(max-width: 1023px)" data-delayed-attr-delay="1100|11000" style="visibility:hidden")
